extends ../_layouts/master

block content 
    h1 股票細節:#{stock.stock_name}

    .container 
        a(href="/stock") 回列表頁
    table.container  
        thead 
            tr 
                th 日期
                th 開盤價
                th 最高價
                th 最低價
                th 收盤價
                th 交易差額
        tbody 
        each price in stockPrice 
            tr 
                td #{price.date}
                td #{price.open_price}
                td #{price.high_price}
                td #{price.low_price}
                td #{price.close_price}
                td #{price.delta_price}
    .container 
        .pagination 
            - for(var  p = 1; p <= pagination.lastPage; p++)
                a(href=`/stock/${stock.stock_id}?page=${p}`, class=p==pagination.currentPage?"active":"") #{p}